public/
resources/
.hugo_build.lock
deployments/terraform/.terraform/
deployments/terraform/.terraform.lock.hcl
deployments/terraform/env/
deployments/terraform/tfplan
deployments/terraform/tfplan2

.claude/
CLAUDE.md

draft/