# Hugo
artifacts/hugo/public/
artifacts/hugo/resources/
artifacts/hugo/.hugo_build.lock

# Terraform
artifacts/terraform/.terraform/
artifacts/terraform/.terraform.lock.hcl
artifacts/terraform/env/
artifacts/terraform/tfplan
artifacts/terraform/tfplan*

# Claude
.claude/
CLAUDE.md

# Draft
files/
specs/
